.DishesList {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 90px 20px 0px 20px;
	max-width: 1280px;
	margin: 0 auto;
	min-width: fit-content;
}
.preview {
	display: flex;
	background-image: url('/public/assets/Preview.png');
	background-size: cover;
	margin: 0 -28px;
	padding: 50px 28px;
	position: relative;
}
@media screen and (max-width: 768px) {
	.DishesList {
		padding-top: 75px;
	}
	.preview {
		justify-content: center;
		height: 150px;
		margin-bottom: 150px;
	}
}
